# exclude all *.tar files
*.tar
*.tar.gz
*.mat
*.csv~
*.dat~
*.m~
# exclude oct files, since compilation is OE specific
*.oct
# exclude the following folders
/working_folder/output/*
/working_folder/archive/*
