# exclude all *.tar files
*.tar
*.tar.gz
*.mat
*.csv~
*.dat~
*.m~
*.txt
# exclude oct files, since compilation is OE specific
*.oct
*.o
# exclude seed of random number generator
seed_rand.dat
seed_randn.dat
octave-workspace
# exclude the following folders
/working_folder/output/*
/working_folder/archive/*
/testing_folder/output/*
/testing_folder/archive/*
/prototype_folder/*
/private_folder/*
